<p-toast></p-toast>

<p-card>
  <div class="flex justify-content-end">
    <p-button
      (click)="clearFile()"
      icon="pi pi-times"
      label="Clear File"
      [disabled]="selectedFile === null"
      styleClass="p-button-danger"
    ></p-button>
  </div>
  <app-upload-file></app-upload-file>

  <div class="grid">
    <div class="col-12">
      <div *ngIf="segments.length > 0">
        <h2>Segments</h2>
        <div *ngFor="let segment of segments; let i = index">
          <p>{{ segment.text }}</p>
          <app-my-button
            (click)="playSegment(segment.audio)"
            label="Play Segment {{ i + 1 }}"
          ></app-my-button>
          <app-my-button
            (click)="downloadSegment(segment, i)"
            label="Download Segment {{ i + 1 }}"
            styleClass="p-button-secondary"
          ></app-my-button>
        </div>
      </div>
    </div>
  </div>
</p-card>
