<!--<h2>Exercises</h2>-->

<!--<app-my-button pButton type="button" label="Create New Exercise" (click)="createExercise()" icon="pi pi-create"></app-my-button>-->

<!--<div *ngIf="exercises.length === 0">No exercises found.</div>-->

<!--<ul *ngIf="exercises.length > 0">-->
<!--  <li *ngFor="let exercise of exercises">-->
<!--    <a [routerLink]="['/exercises', exercise.id]">{{ exercise.name }}</a>-->
<!--    <app-my-button pButton type="button" icon="pi pi-pencil" (click)="editExercise(exercise.id)" label="Edit"></app-my-button>-->
<!--    <app-my-button pButton type="button" icon="pi pi-trash" (click)="deleteExercise(exercise.id)" label="Delete"></app-my-button>-->
<!--    <app-my-button pButton type="button" icon="pi pi-file" (click)="goToAudioSplitter(exercise.id)" label="View"></app-my-button>-->
<!--  </li>-->
<!--</ul>-->
<h2>Exercises</h2>

<app-my-button pButton type="button" label="Create New Exercise" (click)="createExercise()" icon="pi pi-plus"></app-my-button>

<p-table [value]="(exercises$ | async) || []" [tableStyle]="{ 'min-width': '50rem' }">
  <ng-template pTemplate="header">
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th style="width:250px">Actions</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-exercise>
    <tr>
      <td>{{ exercise.id }}</td>
      <td><a [routerLink]="['/exercises', exercise.id]">{{ exercise.name }}</a></td>
      <td width="400px">
        <app-my-button pButton type="button" icon="pi pi-play" class="p-button-text" (click)="gotoLearnPassive(exercise.id!)" label="Learn Passive"></app-my-button>
        <app-my-button pButton type="button" icon="pi pi-pencil" class="p-button-text" (click)="editExercise(exercise.id!)" label="Edit"></app-my-button>
        <app-my-button pButton type="button" icon="pi pi-trash" class="p-button-text" (click)="deleteExercise(exercise.id!)" label="Delete"></app-my-button>
        <app-my-button pButton type="button" icon="pi pi-file" class="p-button-text" (click)="goToAudioSplitter(exercise.id!)" label="View"></app-my-button>
        <app-my-button pButton type="button" icon="pi pi-play" class="p-button-text" (click)="goToListenAndWrite(exercise.id!)" label="Learn"></app-my-button>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage">
    <tr>
      <td [attr.colspan]="3">No exercises found.</td>
    </tr>
  </ng-template>
</p-table>
