<div class="container">
  <div class="audio-player">
    <audio #audioPlayer controls></audio>
  </div>

  <div class="input-container">
    <label for="userInput">Enter the sentence you hear:</label>
    <textarea
      id="userInput"
      [(ngModel)]="userInput"
      (keyup.enter)="checkUserInput()"
      (keydown.control)="playCurrentAudioSegment()"
    ></textarea>
<!--    <p-message-->
<!--      *ngIf="isCorrect === true"-->
<!--      severity="success"-->
<!--      text="Correct!"-->
<!--    ></p-message>-->
<!--    <p-message-->
<!--      *ngIf="isCorrect === false"-->
<!--      severity="error"-->
<!--      text="Incorrect. Try again."-->
<!--    ></p-message>-->
  </div>

  <div class="current-segment" *ngIf="currentSegmentIndex !== null">
    <p-card>
      <ng-template pTemplate="header">
        Segment {{ currentSegmentIndex + 1 }}
      </ng-template>
      <ng-template pTemplate="content">
        <p *ngIf="showText">Text: {{ maskedText }}</p>
        <button pButton type="button" icon="pi pi-play" label="Play" (click)="playCurrentAudioSegment()"></button>
        <button pButton type="button" label="Check" (click)="checkUserInput()" [disabled]="isCorrect === true"></button>
        <button pButton type="button" label="Next" (click)="nextSegment()" *ngIf="isCorrect"></button>
        <button pButton type="button" label="Skip" (click)="skipSegment()"></button>
      </ng-template>
    </p-card>
  </div>
  <button pButton type="button" label="Show Text" (click)="toggleTextVisibility()"></button>
</div>
